In [2]:
import streamlit as st
import numpy as np
import pandas as pd

/Users/kenichi/opt/anaconda3/lib/python3.8/site-packages/pandas/core/computation/expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [3]:
df = pd.DataFrame({
    '1列目':[1,2,3,4],
    '2列目':[10,20,30,40],
})

In [4]:
df

   1列目  2列目
0    1   10
1    2   20
2    3   30
3    4   40

In [11]:
df = pd.DataFrame(

    np.random.rand(100,2)/(50,50)+[35.69,139.70],
    columns=['lat','lon']
)

In [12]:
df

          lat         lon
0   35.694060  139.716058
1   35.706929  139.718773
2   35.708583  139.702083
3   35.699649  139.714763
4   35.704096  139.703375
..        ...         ...
95  35.702935  139.714420
96  35.709428  139.715185
97  35.693676  139.712794
98  35.695922  139.704548
99  35.699516  139.713846

[100 rows x 2 columns]

In [15]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [18]:
import time

In [19]:
for i in range(100):
    print(i)
    time.sleep(1)

0
1
2
3
4
5
6
7
8
9
10
11
12
13

KeyboardInterrupt: